# Python cache and compiled files
__pycache__/

# Virtual environment
.myvenv/

# VS Code settings
.vscode/

# Logs
*.log

# DVC cache and tmp (keep actual .dvc files tracked)
.cache/
.cache.dvc/
.dvc/tmp/
.dvc/cache/

